@model IEnumerable<Ogrenci>

    @{
        ViewData["Title"] = "Öğrenci Listesi";
    }

    <h2>Öğrenci Listesi</h2>
    <hr>
<table class="table table-hover table-dark table-striped table-bordered">
    <thead>
        <tr>
            <th style="width: 150px;">@Html.DisplayNameFor(m => m.OgrenciId)</th>
            <th>@Html.DisplayNameFor(m => m.OgrenciAd)</th>
            <th>@Html.DisplayNameFor(m => m.OgrenciSoyad)</th>
            <th>@Html.DisplayNameFor(m => m.Eposta)</th>

            <th>@Html.DisplayNameFor(m => m.Telefon)</th>

            <th style="width: 200px; " ></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in @Model)
        {
            <tr>
                <td>@item.OgrenciId</td>
                <td>@item.OgrenciAd</td>
                <td>@item.OgrenciSoyad</td>
                <td>@item.Eposta</td>
                <td>@item.Telefon</td>

                <td class="text-center">
                    <a asp-controller ="Ogrenci" asp-action ="Create" asp-route-id="@item.OgrenciId" class="btn btn-sm btn-success">Create</a>
                    <a asp-controller ="Ogrenci" asp-action ="Update" asp-route-id="@item.OgrenciId" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-controller ="Ogrenci" asp-action ="Delete" asp-route-id="@item.OgrenciId" class="btn btn-sm btn-danger">Delete</a>
                   
                  
                </td>
            </tr>
        }
    </tbody>
</table>